aside{
    width: 20%;
    height: 1000px;
    padding: 10px;
    float: left;
    background: #6eaccf;
    color: black;
}
article{
    width: 60%;
    height: 1020px;
    background: #4b95c0;
    text-indent: 10px;
}
.content{
    text-indent: 10px;
}
